server:
  port: 8080

spring:
  application:
    name: crm-server
  datasource:
    url: jdbc:mysql://localhost:3306/crm?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Singapore
    username: ${DB_USER:root}
    password: ${DB_PASSWORD:}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        jdbc:
          time_zone: Asia/Singapore
  flyway:
    enabled: true

app:
  cors:
    allowed-origins:
      - http://127.0.0.1:5173
      - http://localhost:5173
